<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
	<meta charset="UTF-8">
	<meta name="generator" content="hexo">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="<%= config.author %>">
	<% if (theme.favicon) { %>
        <link rel="icon" href="<%= theme.favicon %>">
    <% } %>
    <%
        function delHtmlTag( str ){
            return str.replace(/<[^>]+>/g,"");
        }
        var tags = [];
        if( page&&page.tags ){
        	page.tags.each(function( tag , index ){
        		tags.push( tag.name );
        	})
        }

        var excerpt;
        if( page && page.excerpt ){
        	excerpt = delHtmlTag( page.excerpt).replace(/\s/g,'');
        }else if( page && page.content ){
        	excerpt = delHtmlTag( page.content ).replace(/\s/g,'');
        }

        var title;
        if( page && page.title ){
        	title = page.title + ' - ' + config.title
        }else{
        	title = config.title;
        }
    %>
    <% if( tags.length > 0 ){%>
    	<meta name="keyword" content="<%= tags.join(',')%>">
    <%}%>
    <% if( excerpt ){%>
    	<meta name="description" content="<%= excerpt%>">
    <%}%>
	<title><%=title%></title>
	<%- css('static/css/style.css') %>
</head>
<body>
<%- partial('head') %>