<%- partial('include/header') %>

<%- partial('include/sidebar') %>

<%- partial('include/head') %>

<div id="main">
    <div class="wrap">
    	<div id="page-links">
    		<h1><%- __('global.links') %></h1>
    		<section class="markdown">
    			<%- page.content %>
    		</section>
    	</div>
    </div>
</div>

<%- partial('include/footer') %>