<%- partial('include/header') %>

<%- partial('include/sidebar') %>

<%- partial('include/head') %>

<%
Date.prototype.format = function(format) {
    var o = {
        "M+" : this.getMonth() + 1,
        "d+" : this.getDate(),
        "h+" : this.getHours(),
        "m+" : this.getMinutes(),
        "s+" : this.getSeconds(),
        "q+" : Math.floor((this.getMonth() + 3) / 3),
        "S" : this.getMilliseconds()
    }
    if (/(y+)/.test(format)) {
        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }
    
    for (var k in o) {
        if (new RegExp("(" + k + ")").test(format)) {
            format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        }
    }
    
    return format;
}
%>

<div id="main">
    <div class="wrap">
        <div id="page-post">
        	<article class="markdown">
				<h1>
					<% if (post.link) { %>
                        <%= post.title || '(' + __('post.no_title') + ')' %>
                    <% } else { %>
                        <%= post.title || '(' + __('post.no_title') + ')' %>
                    <% } %>
				</h1>
				<p class="note-tags">
					<%  post.tags.each(function( tag , index ){ %>
                        <a  href="<%= '/tags/' + tag.name  %>" data-tag="<%= tag.name.toLowerCase() %>">
                            <code class="notebook"><%= tag.name %></code>
                        </a>
                    <% }) %>
				</p>
				<div class="content">
					<%- post.content %>
				</div>
                <p> -- <acronym title="End of File">EOF</acronym> -- </p>
                <div class="post-info">
                    <p>本文链接：<a href="<%- post.permalink %>"><%- post.permalink %></a></p>
                    <p>发表于<i><%- new Date(post.date._d).format("yyyy-MM-dd hh:mm:ss") %></i>，并被添加「<%  post.tags.each(function( tag , index ){ %>
                            <% if(index!==0){ %>，<%}%>
                            <a  href="<%= '/tags/' + tag.name  %>" data-tag="<%= tag.name.toLowerCase() %>"><%= tag.name %></a>
                        <% }) %>」标签，最后修改于<i><%- new Date(post.updated._d).format("yyyy-MM-dd hh:mm:ss") %></i></p>
                </div>
			</article>
            <% if (theme.disqus_shortname) { %>
                <%- partial('include/disqus') %>
            <%}else if(theme.duoshuo_shortname){%>
                <%- partial('include/duoshuo') %>
            <%}%>
        </div>
    </div>
</div>
<%- partial('include/scripts') %>

<%- partial('include/footer') %>